.wrapper {
	background: #707;
	height: 125px;
	top: 0px;
	position: fixed;
	width: 1336px;
}
.logo {
	color: #c0c;
	padding-top: 37px;
	padding-left: 50px;
	top: px;
	font-size: 50px;
}
body {
	position: relative;
}
table {
	margin-top: 180px;
	
}
.img1 {
	max-width: 100%;
}